@font-face {
    font-family: Nunito-bold;
    src: url(font/Nunito-Bold.ttf);
}

@font-face {
    font-family: Nunito-Medium;
    src: url(font/Nunito-Medium.ttf);
}

body{
    margin: 0px;
    background-color: black ;
}

header{
    background-color: white;
    height: 100px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: fixed;
    border-radius: 0 0 30px 30px;
    box-shadow: 0px 2px 30px 0px black;
    top: 0px;
}

footer{
    height: 400px;
    background-color: black;
    color: white;
}

.cimek{
    font-family: Nunito-Bold;
    width: 250px;
    padding-top: 30px;
    text-align: left;
    font-size: 30px;
}

footer td{
    font-family: Nunito-Medium;
}

footer p{
    text-align: center;
    margin-top: 80px;
    font-family: Nunito-Bold;
    font-size: 40px;
}

footer a{
    text-decoration: none;
    color: white;
}

#fejresz p{
    font-size: 130px;
    color: white;
    margin-top: -700px;
    text-align: center;
    text-shadow: 1px 1px 25px black;
    font-family: Nunito-Bold;
    line-height: 0.8em;
}

header a{
    float: right;
    padding-top: 40px;
    margin-right: 70px;
    font-family: Nunito-Bold;
    font-size: 20px;
    text-decoration: none;
    border-bottom: 1px solid black;
    color: black;
}

header a:hover{
    float: right;
    padding-top: 40px;
    margin-right: 70px;
    font-family: Nunito-Bold;
    font-size: 20px;
    border-bottom-color: grey;
    color: grey;
}

#logofejresz{
    display: block;
    margin: 0 auto;
    margin-top: -650px;
    border:2px solid #fff;
}


#logo{
    width: 100px;
    height: 100px;
    content: icon;
    padding-top: px;
    padding-left: 50px;
}

#szakacsok p{
    text-align: center;
    font-size: 75px;
    font-family: Nunito-Bold;
    color: white;
    padding-top: 400px;
}

table,td,th{
    margin: 0 auto;
    margin-bottom: 30px;
}

.nev{
    width: 50vw;
    height: 5px;
    padding-left: 40px;
    font-size: 80px;
    font-family: Nunito-Bold;
    color:white;
}

.leiras{
    font-size: 20px;
    font-family: Nunito-Medium;
    padding-left: 40px; 
    color:white;
}

#gradient{
    height: 100px;
    background: linear-gradient(180deg, black 0%, white 100%);
}

#ertekelesek{
    height: 850px;
    background-color: white;
}

#ertekelesek #cim{
    margin: 0px;
    text-align: center;
    padding-top: 20px;
    font-size: 80px;
    font-family: Nunito-Bold;
}

#ertekelesek #ertekelo{
    font-family: Nunito-Bold;
    text-align: center;
    font-size: 50px;
    width: 400px;
    line-height: 0.8em;
}

#ertekelesek #ertekeles{
    font-size: 30px;
    font-family: Nunito-Medium;
    text-align: center;
}

#ertekelesek #kep{
    display: block;
    margin: 0 auto;
    width: 200px;
}